{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block title %}
    SignUp
{% endblock %}

{% block body_content %}
    <div class="container">
        <div class="row" style="margin: 100px;">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <form method="post" id="signup-form">
                    {% csrf_token %}
                    {% crispy form %}
                    <input type="submit" class="btn primary" value="SignUp">
                </form>
                <br>
                <p>Have an account? <a href="{% url "login" %}" class="text-primary">Login To Your Account</a></p>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
{% endblock %}