{% extends "base.html" %}

{% block title %}
    Products Dashboard
{% endblock %}

{% block body_content %}
    <div class="container m-5">
        <h3><a href="{% url "product_create" %}" class="btn btn-dark">Create Product +</a></h3>
    </div>
    <div class="containet" style="margin-left: 100px;margin-bottom: 200px;">
        <div class="progress-table-wrap">
            <div class="progress-table">
                <div class="table-head">
                    <div class="serial h5" style="padding-right: 250px;">Product Name</div>
                    <div class="country"></div>
                    <div class="visit"></div>
                    <div class="percentage"></div>
                </div>
                {% for product in product_list %}
                    <div class="table-row">
                        <div class="serial text-primary h6 mr-5" style="padding-right: 250px;">{{ product.name }}</div>
                        <div class="country">
                            <button type="button"
                                    onclick="window.location.href='{% url "product_detail" product.slug %}'"
                                    class="btn btn-success">View Product
                            </button>
                        </div>
                        <div class="visit">
                            <button type="button"
                                    onclick="window.location.href='{% url "product_update" product.slug %}'"
                                    class="btn btn-warning">Edit Product
                            </button>
                        </div>
                        <div class="percentage">
                            <button type="button"
                                    onclick="window.location.href='{% url "product_delete" product.slug %}'"
                                    class="btn btn-danger">Delete
                            </button>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    </div>

{% endblock %}